# API KEYS
OPENAI_API_KEY=<YOUR_API_KEY>

# LANGCHAIN
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<YOUR_API_KEY>
LANGSMITH_PROJECT=<YOUR_LANGSMITH_PROJECT_NAME>

# CONFIGURATION
MODEL_NAME=YOUR_MODEL_OF_CHOICE
EMBEDDING_MODEL=text-embedding-3-small

CHUNK_SIZE=30
CHUNK_OVERLAP=10

CHROMA_COLLECTION_NAME=gdpr_database